.container-product {
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    border-radius: 8px;
    /* border: 1px solid #ddd; /* Bordo leggero */
    }