.AntonioTest{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gh{
    width: 7%;
}

@media (orientation: portrait) {
   .gh{
       width: 25%;
   }
}

