.boxProdotto{
    display: flex;
    flex-direction: column;
    width: 96%;
    margin:2%;
    justify-content: center;
    align-items: flex-start;
    gap:15px;
}

.popup-edit-active {  /*AGGIUNTO*/
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1000;
}


.containerProdotto{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.spaceProdotto{
    color: darkslateblue;
    font-weight: bold;
    width: 80%;
    white-space: nowrap;  
}

.spaceProdotto:hover{
    text-decoration: underline;
}

.spaceProdotto2{
    width: 20%;
}

.ButtonProdotto{
    width: 10%;
}

.CarrelloProd{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

@media (orientation: portrait){
    .boxProdotto{
        align-items: center;
    }

    .spaceProdotto{
        width: 60%;
    }
    
    .spaceProdotto2{
        width: 40%;
    }

    .CarrelloProd{
        justify-content: center;
    }
}
