.boxNegozio{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    width: 96%;
    margin-left:2%;
    margin-right:2%;
    margin-bottom: 2%;
}

.star{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-top: 2%;
}
