.boxNegozio{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    width: 96%;
    margin:2%;
    gap:15px;
}

.popup-edit-active {  /*AGGIUNTO*/
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;  
    height: 100vh; 
    position: fixed;  
    top: 0;  
    left: 0;  
    background-color: rgba(0, 0, 0, 0.3);  
    z-index: 1000;  
}

.star{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
