.badge-container {
    display: flex;
    flex-wrap: wrap; /* Disposizione flessibile in caso di troppi badge */
    gap: 5px; /* Spaziatura tra i badge */
    max-width: 450px;
  }
  
  @media (max-width: 950px) {
    .badge-container {
      gap: 1px; /* Spaziatura tra i badge */
      max-width: 450px;
    }

  }