.recipesTitle h1{
    padding-bottom: 2.5%;
    padding-top: 0.5%;
    padding-left: 2%;
    font-size: 30px;
    font-weight: bold;
}

.recipes-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2%;
    gap: 10px;
}

.searchBar {
    display: flex;
    justify-content: center;
    width: 20%;
    height: 40px;
}

.filterButton{
    display: flex;
    justify-content: center;
    width: 20%;
}

@media (max-width: 480px) {
    .searchBar {
        width: 50%;
    }

    .filterButton {
        width: 50%;
    }

}

@media (min-width: 481px) and (max-width: 768px) {
    .searchBar {
        width: 40%;
    }

    .filterButton {
        width: 40%;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .searchBar {
        width: 30%;
    }

    .filterButton {
        width: 30%;
    }

}

@media (min-width: 1025px) and (max-width: 1200px) {
    .searchBar {
        width: 20%;
    }

    .filterButton {
        width: 20%;
    }
}