.ShopWindowBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    width: 100%;
}

.Image {
    width: 90%;
    aspect-ratio: 1/1;
    border-radius: 20px;
}

.LeftShopWindow {
    width: 28%;
    margin-right: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.RightShopWindow {
    width: 71%;
    display: flex;
    flex-direction: column;
}

.nome {
    font-size: large;
    font-weight: bold;
    width: 100%;
}

.descrizione {
    font-size: 90%;
}

.prezzo-ShopWindow {
    width: 100%;
}

.prezzo-ShopWindow .current-price-card {
    color: red;
    font-size: xx-large;
    font-weight: bold;
    padding-right: 1%;
}

.prezzo-ShopWindow .original-price-card {
    color: gray;
    text-decoration: line-through;
    font-size: x-large;
}

.prezzo-ShopWindow .normal-price-card {
    color: black;
    font-size: xx-large;
    font-weight: bold;
}

.boxName {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin-bottom: 2%;
}

.boxBadges{
    width: 60%;
}

.boxDescription {
    margin-top: 2%;
    margin-bottom: 2%;
}

@media (orientation: portrait) {
    .ShopWindowBox {
        flex-direction: column;
    }

    .LeftShopWindow {
        width: 100%;
        margin-right: 0px;
    }

    .Image {
        width: 40%;
        margin-left: 30%;
        margin-right: 30%;
    }

    .RightShopWindow {
        width: 100%;
    }

    .nome {
        text-align: center;
    }

    .boxName {
        width: 100%;
        margin-top: 4%;
        margin-bottom: 4%;
    }

    .boxBadges{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .boxDescription {
        margin-top: 4%;
    }

}