.PrenotationSearchBox {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: row;
  width: 90%;
}

.PrenotationSearchSpan {
  width: 2%;
}

.SearchBarWidth{
  width: 88%;
}

@media (orientation: portrait){

  .PrenotationSearchBox {
    width: 98%;
  }

  .SearchBarWidth{
    width: 63%;
  }

}

@media (orientation: landscape) and (max-width: 926px) {
    
  .SearchBarWidth{
    width: 68%;
  }

}
