.IngredientsBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #f5f5f5;
  width: 80%;
  padding: 2%;
  gap: 20px;
  border-radius: 20px;
}

.IngredientsTitle {
  width: 15%;
  font-weight: bold;
  font-size: large;
  border-bottom: 2px solid darkslateblue;
}

.IngredientsText {
  font-size: 90%;
  width: 100%;
  word-wrap: break-word;
}

.Successivo {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  word-wrap: break-word;
}

@media (orientation: portrait) and (max-width: 644px) {
  .IngredientsBox {
    padding: 4%;
  }

  .IngredientsTitle {
    width: 40%;
  }
}

@media (orientation: portrait) and (max-width: 1024px) and (min-width: 645px) {
  
    .IngredientsTitle {
      width: 20%;
    }
}
