.buttonElement {
    border: 0;
    padding: 0.2em 0.2em;
    font-size: 100%;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    background: none;
    color: rgba(106, 6, 106, 0.779);
}

.buttonElement:hover {
    transform: scale(0.99);
}

