    .container-product {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container-product .card {
    min-width: 350px; /* Imposta una larghezza minima per ogni card */
 }