    .container-product {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container-product .card {
    min-width: 380px; /* Imposta una larghezza minima per ogni card */
 }


 @media (max-width: 480px) {
    .container-product .card {
        min-width: 320px; /* Imposta una larghezza minima per ogni card */
     }
 }