.card {
    display: flex;      /* Posiziona immagine e informazioni fianco a fianco */
    align-items: center; /* Centra verticalmente */
    padding-right: 35px;
    padding-left: 35px;
    margin: 10px 0;
    border-radius: 8px;
    /*box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgba(0, 0, 0, 0.19); */
    max-width: 800px; /* Larghezza massima */
    font-family: "Roboto", serif;
    padding-bottom: 25px;
    

  }
  
  .card-image {
    width: 120px; /* Larghezza immagine */
    height: 120px; /* Altezza immagine */
    object-fit: contain; /* Taglia immagine mantenendo proporzioni */
    border-radius: 15px; /* Angoli arrotondati */
    margin-right: 15px; /* Spazio tra immagine e informazioni */
    padding: 5px;
    background-color: #e0e0e0a1;
  }
  
  .card-info {
    flex: 1;
    display: flex;
    flex-direction: column; /* Disposizione verticale */
    justify-content: space-between; /* Spaziatura tra elementi */
  }
  
  .card-name {
    font-size: 25px;
    font-weight: bold;
  }
  
  .card-detail {
    font-size: 18px;
    color: #555;
    margin-bottom: 5px;
    max-width: 50px;
}
  
  .card-price {
    font-size: 30px;
    font-weight: bold;
    color: #333;
    margin: 0; /* Nessun margine */
  }
  .card-button {
    display: inline-block;
    padding: 7px 20px;
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    border: 0.5px solid #333; /* Solo bordo */
    background-color: #03684D; /* Sfondo trasparente */
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    max-width: 150px;
    
  }
  
  .card-button:hover {
    background-color: #052C35; /* Sfondo scuro al passaggio del mouse */
    color: #fff; /* Testo bianco */
  }
  @media (max-width: 950px) {
    .card {
      flex-direction: column; /* Dispone immagine e informazioni in colonna */
      align-items: flex-start; /* Allinea gli elementi all'inizio */
      text-align: left; /* Testo allineato a sinistra */
      padding-right: 20px;
      padding-left: 20px;
    }
  
     
  }