.popUpContainer {
  position: fixed;
  background-color: rgb(255, 255, 255);
  padding: 25px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  z-index: 1000;
  width: 80%;
  max-width: 600px;
  height: 650px;
  margin: 30px;
}



.filterHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  padding-bottom: 4%;
}

.distanceTitle {
  padding-top: 40px;
}

.orderTitle h2,
.filterTitle h2,
.distanceTitle h2,
.priceTitle h2 {
  font-size: 20px;
  font-weight: 500;
}

.filterSwiper {
  display: flex;
  justify-content: center; /* Centra tutti gli elementi */
   flex-wrap: wrap; /* Permette il wrapping su più righe se necessario */
  width: 95%; /* Assicura che utilizzi tutta la larghezza disponibile */
  padding-bottom: 5%;
  padding-top: 2%;
   align-items: center; /* Allinea verticalmente */

}
.swiper {
  width: 100%; /* Usa tutta la larghezza del contenitore */
  display: flex;
  justify-content: center; /* Centra il contenitore */
}


.range-slider {
  position: relative;
  width: 100%;
  height: 20px;
  background: #e0e0e0;
  border-radius: 10px;
  margin-top: 20px;
}

.range-slider input[type="range"] {
  -webkit-appearance: none;
  /* elimina lo stile di default */
  appearance: none;
  pointer-events: none;
  position: absolute;
  /* posizione assoluta rispetto al contenitore più vicino */
  height: 10px;
  /* Altezza dell'input */
  background: transparent;
  width: 100%;
  z-index: 1;
  /*z-index gestisce la sovrapposizione tra gli elementi -> 1 starà sotto al 2 */
}

.range-slider input[type="range"].slider-min {
  z-index: 2;
  cursor: pointer;
}

.range-slider input[type="range"].slider-max {
  z-index: 2;
  cursor: pointer;
}


/* palline */
.range-slider input[type="range"]::-webkit-slider-thumb {
  pointer-events: auto;
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 50%;
  border: 2px solid #5c4004;
  cursor: pointer;
}

.range-slider input[type="range"]::-moz-range-thumb {
  pointer-events: auto;
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid #5c4004;
}

/* Track tra le due palline */
.slider-track {
  position: absolute;
  top: 50%;
  height: 10px;
  background: #03684D;
  /*#5c4004*/
  border-radius: 5px;
  transform: translateY(-50%);
  z-index: 0;
}

/* Valori Min e Max */
.slider-values {
  display: flex;
  justify-content: center;
  font-size: 15px;
  font-weight: bold;
}

.position {
  padding-top: 10%;
  display: flex;
  flex-direction: row;
  gap: 2%;
  width: 100%;
}

.manualPosition {
  width: 50%;
}

.autoPosition {
  width: 50%;
}

.finalButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 8%;
}



@media (max-width: 480px) {
  .filterSwiper {
    padding-bottom: 7%;
  }

  .orderTitle h2,
  .filterTitle h2,
  .distanceTitle h2,
  .priceTitle h2 {
    font-size: large;
  }
}