.filter{
    border-radius: 20px;
    background-color: rgb(73, 182, 122);
    border: none;
    width: 100%;
    height: 40px;
    font-size: medium;
    font-weight: bold;
}

.filter:hover{
    background-color: rgb(70, 142, 102);
    transform: scale(0.98);
}