.prenHeader h1{
    padding-bottom: 2.5%;
    padding-top: 0.5%;
    padding-left: 2%;
    font-size: 30px;
    font-weight: bold;
}

.prenBar{
    padding-bottom: 2%;
    padding-left: 2%;
}

.prenotations{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 2%;
    padding-left: 2%;
    width: 95%;
}

.prenButton{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-bottom: 2%;
    padding-right: 3.5%;
    gap: 5%;
}