.LoginRegisterBack {
    padding-top: 1%;
    padding-bottom: 1%;
    position: relative;             /* Permette lo scrolling se il contenuto eccede */
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;              /* Altezza minima 100% del viewport */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("https://images6.alphacoders.com/132/1323881.png");
}

