.boxRicetta{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: flex-start;
    width: 96%;
    margin: 2%;
    gap: 30px;
}

.popup-edit-active {  /*AGGIUNTO*/
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.Informazioni{
    margin-left: 1%;
    width: 99%;
}

.Ingredienti{
    margin-left: 1%;
    width: 99%;
}

@media (orientation: portrait) {

    .boxRicetta{
        gap: 20px;
    }

    .Informazioni{
        margin-left: 0px;
    }

    .Ingredienti{
        margin-left: 0px;
    }

}