*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: "Roboto", serif;

}

a{
    text-decoration: none;
}

img{
    cursor: pointer;
  
}

.flex-div{
    display: flex;
    align-items: center;
}