.badge {
    color: white;
    font-family: "Roboto", serif;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 15px;
    border-radius: 20px;
    display: inline-block;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    
  }
  
  @media (max-width: 950px){
    .badge {
        font-size: 14px;
        padding: 3px 10px;
        margin: 3px;

    }

  }

  @media (max-width: 450px){
    .badge {
        font-size: 10px;
        padding: 3px 8px;
        margin: 3px;

    }

  }

  @media (max-width: 400px){
    .badge {
        font-size: 8px;
        padding: 2px 7px;
        margin: 2px;

    }

  }