.reservation-header h1 {
    padding-bottom: 2.5%;
    padding-top: 0.5%;
    padding-left: 2%;
    font-size: 30px;
    font-weight: bold;
}

.dettaglioPrenotazione-container {
    display: flex;
    justify-content: center;
}

.dataLabel-reservation {
    padding-left: 2%;
    padding-right: 2%;
}

.user-reservation-state{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 3px;

}


.user-reservation-date{
    font-size: 20px;
}

.user-reservation-state-info{
    padding-left: 25px;
    padding-top: 10px;
   
}
.user-reservation-code{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 3px;

}

.store-code-reservation-container{
    padding-left: 25px;
    padding-top: 10px;
   
}

.store-info-reservation{
    padding-left: 25px;
}


.store-info-reservation .luogoBox, .dataBox {
    display: flex;
    align-items: flex-start; /* Allinea il contenuto a sinistra */
}
 
 
.store-info-reservation .titleOra {
    padding-left: 40px;
}


.store-info-reservation .infoLuogo h2, .infoOra h2{
    padding-left: 4px;
}

.store-info-reservation .infoLuogo h3, .infoOra h3{
    padding-left: 4px;
}

 /* Contenitore principale */
.codice-ritiro-container {
  display: flex;
  align-items: center; /* Allinea verticalmente */
  gap: 20px; /* Spaziatura tra il label e il box */
}

/* Etichetta "Codice ritiro:" */
.codice-ritiro-label {
  font-size: 16px;
  font-weight: 400; /* Peso normale */
  color: #333; /* Colore del testo */
}

/* Box del codice */
.codice-ritiro-box {
  background-color: #4CAF50; /* Verde dello sfondo */
  border-radius: 12px; /* Angoli arrotondati */
  padding: 10px 20px; /* Spaziatura interna */
  display: flex;
  align-items: center; /* Centra verticalmente il testo */
  justify-content: center; /* Centra orizzontalmente il testo */
  min-width: 120px; /* Larghezza minima per mantenere proporzioni */
  height: 40px; /* Altezza fissa */
}

/* Testo del codice */
.codice-ritiro {
  font-size: 18px; /* Dimensione del testo */
  font-weight: bold; /* Testo grassetto */
  color: #fff; /* Colore bianco */
  text-transform: uppercase; /* Tutto maiuscolo */
  letter-spacing: 2px; /* Spaziatura tra lettere */
}
