.reservation-header h1 {
    padding-bottom: 2.5%;
    padding-top: 0.5%;
    padding-left: 2%;
    font-size: 30px;
    font-weight: bold;
}

.dettaglioPrenotazione-container {
    display: flex;
    justify-content: center;
 }


.dataLabel-reservation {
    padding-left: 2%;
    padding-right: 2%;
}