.headerDate{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    padding-bottom: 3%;
    font-size: 90%;
}

.formDate{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2%;
}

.labelBox{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 5%;
}

.bar{
    margin-top: 1%;
}


/* Tablet verticali */
@media (max-width: 768px) {

    .formDate{
        display: flex;
        flex-direction: column;
        justify-content: flex-start; 
        align-items: flex-start; 
        gap: 20px; 
    }

    .bar{
        margin-top: 3%;
    }

    .headerDate{
        font-size: small;
        padding-bottom: 5%;
    }

 }


