.headerDate h1{
    padding-bottom: 3%;
    font-size: 25px;
}

.formDate{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 5%;
}

.labelBox{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 5%;
}

/* Tablet verticali */
@media (max-width: 768px) {

    .headerDate h1{
        font-size: medium;
    }

    .formDate{
        display: flex;
        flex-direction: column;
        justify-content: flex-start; 
        align-items: flex-start; 
        gap: 20px; 
    }

 }


